.room-card{
    display: flex;
    margin: 20px;
    padding-right:20px ;
    min-height: 220px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 80px lighten(#000, 60%);
}

.room-detials{
    padding-left: 10px;
}

.room-detials p{
    font-size: 15px;
}

.room-detials span{
    font-size: medium;
    color: #ff7426;
}

.room-img{
    min-height: 100%;
    border-radius: 10px 0 0 10px;
}




/* CSS book button*/
.book-btn {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 10px;
  outline: none;
  overflow: visible;
  padding: 10px 10px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .book-btn {
    padding: 19px 32px;
  }
}

.book-btn:before,
.book-btn:after {
  border-radius: 80px;
}

.book-btn:before {
  background-color: rgba(249, 58, 19, .32);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.book-btn:after {
  background-color: initial;
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.book-btn:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}

.book-btn:active:not(:disabled) {
  color: #ccc;
}

.book-btn:active:not(:disabled):after {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.book-btn:disabled {
  cursor: default;
  opacity: .24;
}